* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  background-color: #f4f4f4;
  width: 100%;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  width: 500px;
  height: 600px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

#display {
  font-family: Geneva, sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  background-color: #fafafa;
  height: 20%;
  padding: 20px;
  text-align: right;
  line-height: 3.2;
}

.calculator-buttons {
  width: 100%;
  height: 80%;
}

.rows {
  display: flex;
  gap: 5px;
  height: 19%;
  margin-top: 5px;
}

button {
  font-size: 2rem;
  flex: 1 1;
  color: #171717;
  background-color: #d3d6db;
  height: 100%;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e6e6e6;
}

button:active {
  color: #d3d6db;
  background-color: #171717;
}

#clear {
  color: white;
  background-color: #be3144;
}

#clear:hover {
  background-color: #da0037;
}

#clear:active {
  color: #be3144;
  background-color: white;
}

#equals {
  color: white;
  background-color: #0c3c78;
}

#equals:hover {
  background-color: #0077c0;
}

#equals:active {
  color: #0c3c78;
  background-color: white;
}

#zero {
  flex: 1 1 25.3%;
}
